* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #ffffff;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

header h1 {
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #555;
  font-weight: 600;
}

nav a:hover {
  color: #000;
}

.search-box {
  padding: 10px;
  width: 800px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #ccc;
  position: absolute;
  right: 500px;
}
